@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.inter-unicode-font{
  font-family: MyFont;
}

@media print {
  @page {
     margin-left: 0.5in;
     margin-right: 0.5in;
     margin-top: 0;
     margin-bottom: 0;
   }
}